flask
flask_restful
flask_jsonpify
gunicorn
werkzeug
tika
bs4
nltk
python-magic
numpy
tqdm
symspellpy
pandas
mistune
lxml
unidecode
git+https://github.com/riclab/nlm-utils.git@a72864bd9f0689693215b1acfd4a00d6052a3bed
